.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input, .service {
    width: 350px;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 2px white;
}

.label {
    color: white;
    margin: 1rem 0;
}

.message-input {
    width: 350px;
    height: 100px;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 2px white;
}

.form-btn {
    width: 250px;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #A99E8C;
    color: white;
    text-transform: uppercase;
}

.form-btn:hover {
    background-color: #8D7B68;
    transition: ease-in-out 0.2s;
}