.horsemanship-image {
    width: 40%;
    height: auto; /* Use auto for proportional scaling */
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .photo-corral {
    position: relative;
    text-align: center;
  }
  
  .nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .nav-button.left {
    position: absolute;
    top: 50%;
    left: calc(4% + 2px); /* Adjust this value for spacing */
  }

  .nav-button.right {
    position: absolute;
    top: 50%;
    right: calc(5% + 2px); /* Adjust this value for spacing */
  }

  .horsemanship-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: white;
    padding: 20px;
    margin: 10px;
  }

  .hm-hands {
    width: 50%;
    margin: 20px;
  }

  .info-title {
    font-style: italic;
    font-size: 2em;
  }

  .horsemanship-paragraph {
    width: 50%;
    font-size: 1.2em;
  }



  @media screen and (max-width: 768px) {
    .horsemanship {
      width: 90%;
    }
    .horsemanship-image {
      width: 100%;
    }
    .horsemanship-info {
      width: 100%;
    }
    .testimonial {
      width: 100%;
    }
    .horsemanship-paragraph {
      width: 100%;
    }
    .photo-corral {
      width: 100%;
    }
    .nav-button.left {
      left: 5px;
      z-index: 1;
    }
    .nav-button.right {
      right: 5px;
    }
  }